{% extends 'base.html' %} {% block content %}
<h1>Add Meta_Model</h1>

<form method="POST" action="" /> {% csrf_token %}
<div class="form-group row">
    <label class="col-2 col-form-label">Label</label>
    <div class="col-10">
        <input class="form-control" required="True" type="text" name="libelle">
    </div>
    <label class="col-2 col-form-label">Description</label>
    <div class="col-10">
        <input class="form-control" required="True" type="text" name="description">
    </div>
</div>


<button class="btn" type="submit">Save</button>
<a href="#" class="btn btn-info" role="button">Cancel</a>
</form>
{% endblock %}